
a,p,img,h1,h2,h3,li,ul,.Content{
  color: white;
  text-decoration: none;
  font-family: 'Russo One', sans-serif;
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
.logo{
  width: 50px;
  position: absolute;
  margin-left: 20px;
  margin-top: 2.5px;
}
h1{
  color:rgba(244, 215, 66);
  color: white;
  display: inline;
  position: relative;
  top: 10px;
  left: 80px;
}
.Heading{
  width: 100%;
  position: fixed;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0,0.5);
  height: 45px;
  z-index: 1;
}
.Heading ul{
  float: right;
  position: relative;
  display: inline;
}
.Heading li{
  text-decoration: none;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  border-left: 2px solid white;
  text-align: center;
  border: 0;
}
.Heading li a{
  width: 100%;
  height: 100%;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}
.Heading li a:hover{
  font-size: 15px;
    background-color: rgba(226, 226, 226,0.5);
}
.MenuButton{
  position: relative;
  float: right;
  top: 10px;
  right: 20px;
  display: none;
  border: 1px solid white;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  background-color: rgba(226, 226, 226,0.5);
}
.mbi{
  display: block;
  width: 30px;
  height: 5px;
  background-color: white;
  position: relative;
  margin-top: 5px;
}
.Content{
  position: relative;
  text-align: center;
  top: 80px;
}
.Name{
  font-size: 60px;
  color: rgba(226, 226, 226,1);
  margin-top: 20px;
}
.Title{
  margin-top: -40px;
  font-size: 20px;
  color:rgba(21, 91, 153);
}

.DWM{

    background-color: blue;
    background-color: rgba(0, 0, 0,0.5);

    border-radius: 50px;

  padding-top: 30px;
  padding-bottom: 40px;
  position: relative;
  margin-left: -175px;
  width: 350px;
  left: 50%;
  margin-top: 60px;
  font-size: 20px;
}
.DWM a{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(0, 91, 16);
    border-radius: 100px;
}

.Largelogo{
  position: relative;
  width: 150px;
}

.BODY{
margin: auto;
}
.frontButton{
  margin: auto;
  background-color: rgb(66, 134, 244);
  width: 170px;
  padding: 5px;
}
.frontButton p{
  margin: auto;
}
body{
  margin: 0;
height: 100%;
overflow: auto;
}
html{
  height: auto;
  background-color: rgb(58, 107, 81);
  background-color: rgb(66, 134, 244);
  background-image: url("../Resources/Photo.png");
  background-repeat: no-repeat;

  background-size: cover;

  background-position: 50% 50%;

  height:656px;
}
.BODY{
  position: relative;
  margin: 0;
}


@media only screen and (max-width: 900px ) {

#firstLink{
  border-top: 1px solid white;
  margin-top: 15px;
}
.Heading{
}
  .Heading li{
    float: right;
    display:block;
    padding: 0;
    float: none;
    border: none;
    border-bottom: 1px solid white;

  }
  .Heading li a{
    font-size: 15px;
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
  }

  .Heading ul{
    overflow: auto;
    position: absolute;
    float: none;
    display: none;
    width: 100%;
    margin-top: 40px;
    margin-left: -110px;
    height: 100%;
    z-index: -1;
  }
  .MenuButton{
    display: inline;
  }
}

@media only screen and (max-width: 500px ) {

  .Name{
    font-size: 40px;
  }
  .Title{
    margin-top: -10px;
  }
  .DWM{
    bottom: 40px;
  }
}
